{% extends 'base.html.twig' %}

{% block title %}PaymentMode{% endblock %}

{% block body %}
    <h1>PaymentMode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payment_mode.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ payment_mode.name }}</td>
            </tr>
            <tr>
                <th>Identifier</th>
                <td>{{ payment_mode.identifier }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('payment_mode_index') }}">back to list</a>

    <a href="{{ path('payment_mode_edit', {'id': payment_mode.id}) }}">edit</a>

    {{ include('payment_mode/_delete_form.html.twig') }}
{% endblock %}
