{% extends 'base.html.twig' %}

{% block title %}Hello CashBoxController!{% endblock %}

{% block body %}
    {% include '_navbar.html.twig' %}
    <div class="section home grey lighten-3">
        <div class="">
            <div class="row">
                <div class="col s12 m6 l8 flex flex-products">
                    {% for product in products %}
                    <div class="product {{ product.color }} sidenav-trigger"
                         id="{{ product.id }}"
                         data-name="{{ product.name }}"
                         data-price="{{ product.price }}"
                         data-target="adder"
                         data-id="{{ product.id }}"
                    >
                        <span class="product-name">{{product.name}}</span>
                        <span class="product-price white-text">{{product.price}} €</span>
                    </div>
                    {% else %}
                    aucun produit
                    {% endfor %}

                </div>
                <div class="col s12 m6 l4 cart-zone">
                    <div class="row">
                        <div class="col s12 clock">
                            Nous sommes le <span class="timer" id="clock"></span>
                        </div>
                        <div class="col s12 total-ticket-zone">
                            <table class="total-day">
                                <tr>
                                    <td class="total-title">Total du jour</td>
                                    <td><span class="bolder" id="total-day">{{total}}</span> €</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s10 ticket-table">
                            <table id="ticket" class="white">
                            </table>
                            <table id="actions" class="white hide">
                                <tr>
                                    <td colspan="5" class="left-align">
                                        <form>
                                            {% for payment_mode in payment_modes %}
                                                <label>
                                                    <input type="radio" class="pm" name="pm" value="{{ payment_mode.id }}" id="{{ payment_mode.id }}"/>
                                                    <span class="black-text">{{ payment_mode.name }}</span>
                                                </label><br>
                                            {% endfor %}
                                        </form>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="left-align">
                                        <a class="btn purchase pink" id="valid-purchase-btn">valider</a>
                                    </td>
                                    <td class="right-align bolder total-ticket" id="totalCell"> </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="right-align">
                                        <a class="btn purchase black" id="undo-purchase-btn">annuler</a>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="extract-fund" class="modal">
        <div class="modal-content">
            <h4>Extraction de caisse</h4>
            <p>Saisissez le montant d'espèces que vous retirez de la caisse</p>
            {{ include('extraction/_form.html.twig') }}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>

    <div id="cashcount" class="modal">
        <div class="modal-content">
            <h4>Comptage de la caisse</h4>
            <p>Saisissez le montant d'espèces que vous comptez dans la caisse</p>
            {{ include('cash_count/_form.html.twig') }}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>

    {% include 'cash_box/_product_add.html.twig' %}

{% endblock %}
