{% extends 'base.html.twig' %}

{% block title %}Extraction index{% endblock %}

{% block body %}
    <h1>Extraction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Amount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for extraction in extractions %}
            <tr>
                <td>{{ extraction.id }}</td>
                <td>{{ extraction.createdAt ? extraction.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ extraction.amount }}</td>
                <td>
                    <a href="{{ path('extraction_show', {'id': extraction.id}) }}">show</a>
                    <a href="{{ path('extraction_edit', {'id': extraction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('extraction_new') }}">Create new</a>
{% endblock %}
