<!-- HAVE TO BE INCLUDED IN A .row DIV -->
    <div class="col s12">
        <a href="{{ path('admin_panel') }}" class="btn-small">Admin</a>

        <a href="{{ path('category_index') }}" class="btn-small">Gérer les catégories</a>

        <a href="{{ path('product_index') }}" class="btn-small">Gérer les produits</a>

        <a href="{{ path('cash_fund_index') }}" class="btn-small">Fond de caisse</a>

        <a href="{{ path('payment_mode_index') }}" class="btn-small">Gérer les moyens de paiement</a>
    </div>
