<nav>
    <div class="nav-wrapper teal">
        <a href="/cashbox" class="brand-logo"><h5>Cashbox 1.0</h5></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <li><a href="{{ path('admin_panel') }}" ><i class="material-icons left tiny">home</i> Accueil</a></li>

            <li><a href="{{ path('category_index') }}" ><i class="material-icons left tiny">local_grocery_store</i> Gérer les catégories</a></li>

            <li><a href="{{ path('product_index') }}" ><i class="material-icons left tiny">local_bar</i> Gérer les produits</a></li>

            <li><a href="{{ path('stock_index') }}" ><i class="material-icons left tiny">pie_chart</i> Gérer les stocks</a></li>

            <li><a href="{{ path('payment_mode_index') }}" ><i class="material-icons left tiny">payment</i> Gérer les moyens de paiement</a></li>

            <li><a href="{{path('home')}}"><i class="material-icons left tiny">lock</i></a></li>

        </ul>
    </div>
</nav>
