<nav>
    <div class="nav-wrapper pink">
        <a href="/cashbox" class="brand-logo"><h5>Cashbox 1.0</h5></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <li><a href="{{ path('admin_panel') }}" >Accueil</a></li>

            <li><a href="{{ path('category_index') }}" >Gérer les catégories</a></li>

            <li><a href="{{ path('product_index') }}" >Gérer les produits</a></li>

            <li><a href="{{ path('product_index') }}" >Gérer les stocks</a></li>

            <li><a href="{{ path('payment_mode_index') }}" >Gérer les moyens de paiement</a></li>

        </ul>
    </div>
</nav>
