{% extends 'base_admin.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row noprint">
            <div class="col s12 m8">
                <h1>Gérer votre caisse</h1>
            </div>
            <div class="col s12 m4">
            </div>
        </div>

        <div class="row">
            <div class="col s12 m5 noprint">
                <div class="row">
                    <h4>Votre fond de caisse</h4>
                    <table>
                    <tr>
                        <td>Montant</td>
                        <td class="bolder">{{cashfund.amount}} €</td>
                        <td>
                            <a href="{{ path('cash_fund_edit', {'id': cashfund.id}) }}" class="btn-floating cyan">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                    </tr>
                </table>
                </div>
                <div class="row">
                    <h4>Vos espèces en caisse</h4>
                    <table>
                        <tr>
                            <td>Total encaissement espèces</td>
                            <td class="bolder right-align">{{cash_today}} €</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Total extractions</td>
                            <td class="bolder right-align">{{extractions}} €</td>
                            <td></td>
                        </tr>
                        {%  if total_refund > 0 %}
                        <tr>
                            <td>Total remboursements</td>
                            <td class="bolder right-align">- {{total_refund}} €</td>
                            <td></td>
                        </tr>
                        {% endif %}
                        <tr class="bolder">
                            <td>Espèces en caisse</td>
                            <td class="bolder right-align">{{cash_in_box}} €</td>
                            <td></td>
                        </tr>
                        <tr class="bolder">
                            <td>Comptage de la caisse</td>
                            {%if today_cash_count %}
                            <td class="bolder right-align">{{ today_cash_count }} €</td>
                            {%  else %}
                            <td class="bolder right-align">Comptage non fait</td>
                            {% endif %}

                            <td>
                                {%if today_cash_count %}
                                    {% if is_count_ok %} <i class="material-icons cyan-text">check</i>
                                    {% else %} <i class="material-icons pink-text">cancel</i>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col m6 s12 offset-m1 toprint" >
                <div class="col s6">
                    <form method="POST" action="{{ path('admin_panel_date') }}">
                        <input type="text" name="date">
                        <label>Choisir une date</label>
                    </form>
                </div>
                <div class="col s6 right-align">
                    <a href="#" class="btn-floating cyan" id="printer"><i class="material-icons">local_printshop</i></a>
                </div>
                <div class="col s12 left-align">
                    <h4>Journal de caisse du {{ "now"|date("d-m-Y") }}</h4>
                </div>
                <table>
                    <thead>
                    <tr>
                        <td class="bolder">
                            Moyens de paiement
                        </td>
                        <td class="bolder center-align">
                            Nombre de paiements
                        </td>
                        <td class="right-align bolder">
                            Total du jour
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for payment_mode in purchases_by_payment %}
                    <tr>
                        <td>
                            {{ payment_mode.name }}
                        </td>
                        <td class="center-align">
                            {{ payment_mode.counter }}
                        </td>
                        <td class="right-align bolder">
                            {{ payment_mode.total }} €
                        </td>
                    </tr>
                    {% endfor %}
                    {% if  total_refund > 0  %}
                        <tr>
                            <td colspan="2" class="bolder red lighten-4 right-align">
                                Remboursements
                            </td>
                            <td class="bolder red lighten-4 right-align">
                                {{ total_refund }} €
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td colspan="2" class="bolder grey lighten-4 right-align">
                            TOTAL
                        </td>
                        <td colspan="3" class="bolder grey lighten-4 right-align">
                            {{ total_today - total_refund }} €
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                    <tr>
                        <td class="bolder">
                            Produit
                        </td>
                        <td class="bolder center-align">
                            Quantité
                        </td>
                        <td class="right-align bolder">
                            Total du jour
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for purchase_product in purchases_products %}
                        <tr>
                            <td>
                                {{ purchase_product.name }}
                            </td>
                            <td class="center-align">
                                {{ purchase_product.quantity }}
                            </td>
                            <td class="right-align bolder">
                                {{ purchase_product.total }} €
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if  total_refund > 0  %}
                <table>
                    <tr class="red lighten-4">
                        <td class="bolder">
                            Remboursements
                        </td>
                    </tr>
                </table>
                <table>
                    <thead>
                    <tr class="red lighten-5">
                        <td class="bolder">
                            Produit
                        </td>
                        <td class="bolder center-align">
                            Quantité
                        </td>
                        <td class="right-align bolder">
                            Total du jour
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                Remboursements sans retour
                            </td>
                            <td class="right-align bolder">
                                {{ refunds_noproduct }} €
                            </td>
                        </tr>
                    {%  for refund in refunds_products %}
                        <tr>
                            <td>
                                {{ refund.product }}
                            </td>
                            <td class="center-align">
                                {{ refund.quantity }}
                            </td>
                            <td class="right-align bolder">
                                {{ refund.total }} €
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
