{% extends 'base_admin.html.twig' %}

{% block title %}Stock index{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12 m3">
            <div class="row flex flex-center extensive-h">
                <a href="{{ path('stock_new') }}" class="btn btn-large cyan"><i class="material-icons left">add</i> Ajouter</a>
            </div>
        </div>
        <div class="col s12 m9">
            <h1>Gestion des stocks</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Quantity</th>
                        <th>UpdatedAt</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.product.name }}</td>
                        <td>{{ stock.quantity }}</td>
                        <td>{{ stock.updatedAt ? stock.updatedAt|date('d/m/y') : '' }}</td>
                        <td>
                            <a class="btn-floating cyan" href="{{ path('stock_edit', {'id': stock.id}) }}"><i class="material-icons">edit</i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

    <a href="{{ path('stock_new') }}">Create new</a>
{% endblock %}
